body {
  margin: 0;
  font-family: 'Karla', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    margin: auto;
  }
}

.Logo {
  flex: 2;
}

.Header-page {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 992px) {
  .Header-page  {
    padding: 2rem;
  }
}

.Main-navigation-button {

}

@media (min-width: 992px) {
  .Header-page {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin: auto;
  }
  .Main-navigation-button {
    display: none;
  }
}

.Main-navigation {
  display: none;
}

@media (min-width: 992px) {
  .Main-navigation {
    flex: 2;
    display: block;
  }
}

.Main-navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 16px;
}

.Main-navigation > ul > li {
  padding: 0;
}

.Main-navigation > ul > li > a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #495E57;
}

/* Hero */
.Hero-section {
  width: 100%;
  padding: 3rem 0;
  background-color: #495E57;
}

@media (min-width: 992px) {
  .Hero-section {
    width: 100%;
    padding: 3rem 0 1rem 0;
    background-color: #495E57;
    min-height: 300px;
  }
}

.Hero-section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.Hero-title {
  flex: 2;
}

.Hero-title h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 64px;
  color: #F4CE14;
  margin: 0 0 2rem 0;
}

.Hero-title h1 > span {
  display: block;
  font-family: 'Markazi Text';
  color: #EDEFEE;
  font-weight: 400;
  font-size: 40px;
  line-height: 16px;
}

.Hero-title p {
  font-family: 'Karla';
  font-weight: 500;
  font-size: 18px;
  color: #EDEFEE;
  padding-bottom: 2rem;
}

.Hero-image {
  display: none;
}

@media (min-width: 992px) {
  .Hero-image {
    display: block;
    flex: 1;
    position: relative;
    box-shadow: 0px 0px 32px -10px #000000;
  }
}

.Hero-image > div {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 326px;
  height: 345px;
  background-image: url("./assets/images/restauranfood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
/* Components */
.Button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.Button-sm {
  padding: .5rem 1rem;
  font-size: 14px;
}

.Button-primary {
  background-color: #F4CE14;
  color: #333333;
}

.Button-secondary {
  background-color: #495E57;
  color: #EDEFEE;
}


.Button-link {
  color: #495E57;
}

.Button-link:hover {
  color: #EE9972;
}

/* Special section */

.Specials-section {
  padding: 5rem 0;
}

.Specials-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.Specials-section-header h2 {
  font-size: 40px;
  font-family: 'Markazi Text';
}

.Specials-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1rem;
}

@media (min-width: 992px) {
  .Specials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
  }
}

.Card-plate {
}

.Card-plate-media {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.Card-plate-media > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.Card-plate-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f4f4f4;
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
}

.Card-plate-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Card-plate-header h4 {
  font-family: 'Markazi Text';
  font-size: 24px;
  font-weight: 500;
  margin: 0.5px 0;
}

.Card-plate-header span {
  font-size: 16px;
  font-weight: 700;
  color: #EE9972;
}

.Card-plate > p {
  display: flex;
  flex-direction: column;
}


/* Testimonials */

.Testimonials-section {
  background-color: #495E57;
  padding: 5rem 0 8rem 0;
}
.Testimonials-section h2 {
  font-size: 40px;
  font-family: 'Markazi Text';
  text-align: center;
  color: white;
}

.Testimonials-section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media (min-width: 992px) {
  .Testimonials-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
  }
}

.Card-testimonial {
  background-color: white;
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Card-testimonial-rating {
  display: flex;
  flex-direction: row;
}
.Card-testimonial-rating > svg {
  width: 16px;
  height: 16px;
}
.Card-testimonial-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.Card-testimonial-info span {
  font-weight: 700;
}
.Card-testimonial-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.Card-testimonial-avatar > img {
  width: 100%;
}
.Card-testimonial p {
  margin: 0;
  color: #333333;
}

/* Chicago */
.Chicago-section {
  padding: 5rem 0 8rem 0;
}
.Chicago-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Chicago-info {
  width: 100%;
}
@media (min-width: 992px) {
  .Chicago-info {
    width: 50%;
  }
}
.Chicago-info h2 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 48px;
  color: #333333;
  margin: 0 0 2rem 0;
}

.Chicago-info h2 > span {
  display: block;
  font-family: 'Markazi Text';
  color: gray;
  font-weight: 400;
  font-size: 32px;
  line-height: 16px;
}
.Chicago-images {
  display: none;
}
@media (min-width: 992px) {
  .Chicago-images {
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    flex: 1;
    height: 400px;
  }
}
.Chicago-images div {
  position: absolute;
}
.Chicago-images div:nth-child(1) {
  width: 272px;
  height: 338px;
  left: 0;
  bottom: 0;
  background-image: url('./assets/images/plate-1.jpg');
  background-position: center;
  background-size: cover;
}
.Chicago-images div:nth-child(2) {
  width: 272px;
  height: 338px;
  right: 0;
  top: 0;
  background-image: url('./assets/images/plate-2.jpg');
  background-position: center;
  background-size: cover;
}
/* Footer */
.Footer {
  background-color: #f2f2f2;
  padding: 5rem 0;

}
.Footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Footer-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1rem;
  flex: 1;
}

@media (min-width: 992px) {
  .Footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    flex: 1;
  }
}
.Footer-logo {
  width: 100px;
  margin: auto;
}
.Footer-logo > img {
  width: 100%;
}

/* Footer nav */
.Footer-nav > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Footer-nav h4 {
  font-family: 'Markazi Text';
  font-size: 22px;
  margin-bottom: 1rem;
}
.Footer-nav > ul > li {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.Footer-nav > ul > li > a {
  font-weight: 700;
  text-decoration: none;
  color: #495E57;
}